.root {
  display: flex;
  flex: 1 1;
  align-items: flex-start;
}
.avatar {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
.name {
  margin: 5px 0;
}
.root a {
  text-decoration: none;
  color: #333;
}
.root .nameLink:hover {
  text-decoration: underline;
}
