.breadcrumb {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
.breadcrumb a {
  color: #333;
  text-decoration: none;
}
.tagList {
  flex-direction: row;
  padding: 20px 0;
  flex-wrap: wrap;
}
.albumList {
  flex-direction: row;
  padding: 20px 0;
  flex-wrap: wrap;
}
.block {
  padding: 20px 0 30px;
}
.trackList {
  padding: 20px 0;
}
